<div class="container">
  <div class="jumbotron">
    <h1>The power of dreams</h1>
    <!-- <p title="About">Hello :D we are the specialist in automobile the industry for more than 30 years!</p> -->
  </div>

  <div class="brand-image1">
    <img src="/images/gm.jpg" alt="http://www.rw-designer.com/icon-detail/4230/" width="300" height="100" align="right"> %>
  </div>


  <div class="brand-image">
    <img src="<%= @category.images %>" alt="http://www.rw-designer.com/icon-detail/4230/" width="500" height="200" align="middle">
  </div>
</div>


